<% provide(:title, 'About us') %>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Friendly Chat</h1>
              <ul class="nav masthead-nav">
                <li><a href="/home">Home</a></li>
                <li class="active"><a href="/about">About</a></li>
              </ul>
            </div>
          </div>

          <div class="inner_cover">

          <div class="mastfoot">
            <div class="inner">
              Developed by <a href="https://twitter.com/robertwildman">@Robertwildman</a>.
              Source Code on <a href="https://twitter.com/robertwildman">github.</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>