.brand
{
	color: #fb8521 !important;
	float: none;
	font-family: 'Comfortaa', cursive;
	font-size: 35px;
	background-color: none;
}
.maincontainer
{
	background-color: none;
 height:100%;
 width:100%;
}
body
{
	background-color: none;
}
html {
  background: url(/assets/splash1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}