.center{
	margin: 0 auto;
	float:none;
}
.left-option
{
    width:90%;
    margin: 0 auto;
    padding-left: 2px;
    padding-right: 2px;
}
.right-option
{
    width:100%;
    height:100%;
}
.chat-footer
{
    width:100%;
    height:80px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom:0;
    background-color: whitesmoke;
    left:0;
}
.chat-input-div
{
    height:100%;
}
.pull-left
{
    float:left;
}
.maincontainer
{
    margin-top: -10px;
    width:100%;
    display:block;
    height:100%;
    background-color: whitesmoke;
}
.left-option-body
{
    display:none;
}
.chat_message
{
    width:60%;
    height:80%;
    margin-top: 10px;
}
.column-left{
    float: left;
    text-align: center;
    width: 25%;
    height:100%;
}
.column-right{
    float: right;
    width: 10%;
    height:100%;
}
.column-center{
    display: inline-block;
    width: 65%;
    position:relative;
    height:100%;
    border-radius: 10px;
    border: 20px solid cadetblue;
    background-color: white;
}
.adsbygoogle
{
    margin-top: 20px;
}
.navbar
{
   background-color: white;
   color: #FFAE19;
}
.navbar-header
{
   background-color: whitesmoke;
   color: #FFAE19;
   float:none;
}
.navbar-brand
{
    color:white;
    margin: 0 auto;
    font-size: 10;
    padding-left:45%;
}
.navbar-default
{
    color:#fb8521;
}
.navbar
{
    background-color: whitesmoke;
    border: none;
}
.brand
{
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    color: #fb8521 !important;
}
.nav-link{

    color:white;
}
.mastfoot
{
	max-width: 400px;
	text-align: center;
}
.model
{
    position: relative;
}
.left-option-head
{
    background-color: #fb8521;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.chat-header
{
    background-color: cadetblue;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
}
.chat-header-text
{
    max-width: 250px;
    font-weight: 200;
    font-size: x-large;
}
.left-info
{
    margin-bottom: 20px;
}
.right-info
{
    margin-top: 25%;
}
.chat_message
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border:1px solid gray;
    width:69%
}

.right-welcome-head
{
    background-color: #fb8521;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.modal-header
{
    background-color: #fb8521;
    color:white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chat-button
{
    height:100%;
    width:15%;
    background-color: #fb8521;
    font-weight: 100;
    font-size: 1.5em;
    color:white;
    padding:5px;
    white-space: normal;
}
.lightcoral
{
    background-color: lightcoral;
}
.cadetblue
{
    background-color: cadetblue;
}
.panel-heading
{
    height: 60px;
}
.nav-link
{
    cursor: pointer;
    cursor: hand;
}
.modal-splash-button
{
    display: inline;
    cursor: pointer;
    cursor: hand;
    margin-left: 20px;
}
.modal-spalsh-buttongroup
{
    margin: 0 auto;
    clear: both;
    text-align: center;
}
html
{
    height:100%;
}
body
{
    height: 98%;
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    background-color:whitesmoke;
}
.h4 , h4
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.maincontainer
{
    width:100%;
    text-align: center;
}
#chat
{
    overflow:hidden;
    overflow-y:auto;
    max-height: 300px;
}
#yourinfo
{
    color:#333;
}
#theirinfo
{
    color:#333;
}
.collapse
{
    margin-bottom: -4px;
}

.Title
{
    background-color: #FF7148;
}
.Title a
{
    color:#333;
}
.message_input
{
    width: 84%;
}
.nav-link a:hover
{
    color:#ffa500;
}
.message_button
{
    width: 14%;
}
.chat-panel
{
    width: 98%;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    max-height: 400px;
    display: table;
}
.panel-footer
{
    text-align: center;
}
.footer_inner
{
    margin: 0 auto;
    float:none;
}



@media(min-width:768px) {
    .message_input
{
    width: 90%;
}
.navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }

.message_button
{
    width: 50px;
}
    .chat-panel
    {
        margin: auto;
        width: 700px;
    }

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
    max-height: 100%;
    margin-top: -100px;
    width:250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    /* This is for the mobile website */
    .column-left{
        display:none;
    }
    .column-right{
       display:none;
    }
    .chat-button
    {
        width:22%;
        padding-left: 1px;
        padding-right: 1px;
    }
    .lightcoral
    {
        display:none;
    }
    .chat_message
    {
        width:77%;
    }
    .column-center{
        display: inline-block;
        width: 100%;
        height:100%;
        border: solid 1px #cccccc;
    }
        .model
    {
        position: relative;
    }
     .navbar-fixed-top {
        position: absolute;
    }
    .navbar-collapse {
        max-height: none;
    }
    .adsbygoogle
    {
        bottom: 0;
        height: 100%;
        position: absolute;
    }
    #chat
    {
        margin-bottom: 10px;
        margin-top: -10px;
    }
}
@media(min-width:1200px) {
    .chat-panel
    {
        margin: auto;
        width: 1000px;
    }
    .modal-dialog
    {
        width: 800px;
    }

}