.center{
	margin: 0 auto;
	float:none;
}


/* This is for the left side */
.left-option-link
{
    font-style: none;
    text-decoration: none;
    color: black;
}
.left-option-link:hover
{
    font-style: none;
    text-decoration: none;
    color: black;
}

.left-list
{
    list-style-type:none;
    text-align: left;
    padding-left: 0px;
    border:2px solid gray;
    border-left: none;
    border-top: none;
}
.left-list-item
{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border:1px solid gray;
    border-left: none;
    border-right: none;
    border-top: none;
}
.item-last
{
    border-bottom: none;
}
.item-header
{
    padding-top: 0px;
    border-top: none;
    padding-bottom: 0px;
    text-align: center;
    padding-left: 0px;
}

/* This is for the chat */
.chat-header
{
    color:black;
    height: 61px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
    text-align: left;
    border: 1px solid gray;
    border-top: none;
}
.chat-header-text
{
    font-weight: 300;
    padding-left: 20px;
    float: left;
    font-size: x-large;
}
.chat-body
{
    height: 100%;
    margin-top:10px;
}
.chat-footer
{
    width:100%;
    height:15%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    position: absolute;
    bottom:0;
    background-color: whitesmoke;
    left:0;
}
.start-chat-button
{
    margin-top: 5px;
    margin-right: 15px;
    font-weight: 100;
    font-size: 1.5em;
    color:white;
    white-space: normal;
}
.chat-input-div
{
    height:100%;
}


.pull-left
{
    float:left;
}
.maincontainer
{
    width:100%;
    display:block;
    height:100%;
}
.chat_message
{
    width:60%;
    height:80%;
    margin-top: 10px;
}
.column-left{
    float: left;
    text-align: center;
    width: 25%;
    height:100%;
}
.column-right{
    float: right;
    width: 15%;
    height:90%;
}
.column-center{
    display: inline-block;
    width: 60%;
    position:relative;
    height:100%;
}
.brand
{
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    float:none;
    color: #fb8521 !important;
}

.model
{
    position: relative;
}


.chat_message
{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border:1px solid gray;
    width:80%
}

.modal-header
{
    color: #fb8521;
    background-color:whitesmoke;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chat-button
{
    height:100%;
    width:15%;
    background-color: #fb8521;
    font-weight: 100;
    font-size: 1.5em;
    color:white;
    padding:5px;
    white-space: normal;
}

.close
{
    font-size: 30px;
}
.lightcoral
{
    background-color: lightcoral;
}
.cadetblue
{
    background-color: cadetblue;
}
.panel-heading
{
    height: 60px;
}
.modal-splash-button
{
    display: inline;
    cursor: pointer;
    cursor: hand;
    margin-left: 20px;
}
.modal-title
{
  font-family: 'Comfortaa', cursive;
  font-size: 23px;
}
.modal-spalsh-buttongroup
{
    margin: 0 auto;
    clear: both;
    text-align: center;
}
html
{
    height:100%;
}
body
{
    height: 98%;
    font-family: 'Roboto', sans-serif;
}
.h4 , h4
{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: medium;
}
.maincontainer
{
    width:100%;
    text-align: center;
}
#chat
{
    overflow:hidden;
    overflow-y:auto;
    height: 70%;
}
#yourinfo
{
    color:#333;
}
#theirinfo
{
    color:#333;
}
.collapse
{
    margin-bottom: -4px;
}

.Title
{
    background-color: #FF7148;
}
.Title a
{
    color:#333;
}
.message_input
{
    width: 84%;
}
.nav-link a:hover
{
    color:#ffa500;
}
.message_button
{
    width: 14%;
}
.chat-panel
{
    width: 98%;
    margin: auto;
    margin-top: 100px;
    text-align: left;
    max-height: 400px;
    display: table;
}
.panel-footer
{
    text-align: center;
}
.footer_inner
{
    margin: 0 auto;
    float:none;
}
/* Bubble Code */
.bubble {
  position: absolute;
  color:white;
  display: table;
  clear: both;
  margin-top: 5px;
}

.bubble p {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}
.helpingchatbubble
{
position: relative;
width: 555px;
min-height:35px;
padding: 4px;
font-size: large;
font-weight: 300;
margin-left: auto;
margin-right: auto;
color:#fb8521;
background: #F5F5F5;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.yourbubble
{
position: relative;
max-width: 300px;
height: 35px;
padding: 8px;
margin-right: 15px;
background: #00BE00;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.yourbubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 0 10px 20px;
border-color: transparent #00BE00;
display: block;
width: 0;
z-index: 1;
margin-top: -10px;
right: -20px;
top: 70%;
}

.theirbubble
{
position: relative;
max-width: 300px;
height: 35px;
margin-left: 15px;
padding: 8px;
background: #274BFF;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.theirbubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 20px 10px 0;
border-color: transparent #274BFF;
display: block;
width: 0;
z-index: 1;
margin-top: -10px;
left: -20px;
top: 70%;
}


@media(min-width:768px) {
    .message_input
{
    width: 90%;
}
.navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }

.message_button
{
    width: 50px;
}
    .chat-panel
    {
        margin: auto;
        width: 700px;
    }

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
    max-height: 100%;
    margin-top: -100px;
    width:250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    /* This is for the mobile website */
    .column-left{
        display:none;
    }
    .column-right{
       display:none;
    }
    .chat-button
    {
        width:22%;
        padding-left: 1px;
        padding-right: 1px;
    }
    .chat_message
    {
        width:77%;
    }
    .column-center{
        display: inline-block;
        width: 100%;
        height:100%;
        border: solid 1px #cccccc;
    }
    .model
    {
        position: relative;
    }
    .brand
    {
        float:left;
    }
     .navbar-fixed-top {
        position: absolute;
    }
    .navbar-collapse {
        max-height: none;
    }
    .adsbygoogle
    {
        bottom: 0;
        height: 100%;
        position: absolute;
    }
    #chat
    {
        margin-bottom: 10px;
        margin-top: -10px;
    }
}
@media(min-width:1200px) {
    .chat-panel
    {
        margin: auto;
        width: 1000px;
    }
    .modal-dialog
    {
        width: 800px;
    }
    .column-right{
    float: right;
    width: 10%;
    height:100%;
}
.column-center{
    display: inline-block;
    width: 65%;
    position:relative;
    height:100%;
    border-radius: 10px;
    border: 20px solid cadetblue;
    background-color: white;
}

}
body
{
    height:100%;
    width:100%
}
html {
  height:100%;
  width:100%;
}