.brand
{
	color: #fb8521 !important;
	font-family: 'Comfortaa', cursive;
	font-size:60px;
	font-weight: 800;
  background-color: none;
}
.splash-info
{
	width:70%;
	font-size: medium;
  display:block;
	margin: 0 auto;
}
.splash-info-mobile
{
  display: none;
}
.maincontainer
{
	background-color: transparent;
 height:100%;
 text-align: center;
  position: relative;
 width:100%;
}
body
{
	height:100%;
	width:100%;
	background-color: transparent;
}
html {
  background: url(/assets/splash2.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
}

@media (max-width: 767px) {
    /* This is for the mobile website */
    .brand
    {
    	font-size: 40px;
    }
    .splash-info-mobile
    {
    	display:block;
    	margin-top:50px;
      font-size: small;
      padding-bottom: 50px;
    }
    .splash-info
    {
      display: none;
    }
}


